<html>

<head>
	<style>
		html {
			background-color: #0000;
			transition: opacity .1s linear;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
	<meta content="utf-8" http-equiv="encoding" />
	<title>Auto Monitor</title>
	<meta name="author" content="Mirza Jawad Baig" />
	<!-- Open Graph / Facebook -->
	<link rel="stylesheet" href="/main.css?ver=324" />
	<script type="text/javascript" crossorigin="anonymous" src="/thirdparty/adapter.js"></script>
	<style id="lightbox-animations" type="text/css"></style>
</head>

<body id="main" class="hidden" onload="main()">
	<script type="text/javascript" crossorigin="anonymous" src="/thirdparty/CodecsHandler.js?ver=47"></script>
	<script type="text/javascript" crossorigin="anonymous" src="/thirdparty/aes.js"></script>
	<script type="text/javascript" crossorigin="anonymous" src="/webrtc.js?ver=631"></script>
	<input id="zoomSlider" type="range" style="display: none;" />
	<span id="electronDragZone"
		style="pointer-events: none; z-index:-10; position:absolute;top:0;left:0;width:100%;height:2%;-webkit-app-region: drag;min-height:20px;"></span>
	<div id="header">
		<div id="head5" class="hidden"></div>

		<div id="head3a" style="display: inline-block;" class="hidden">
			<a id="reshare" data-drag="1" onclick="copyFunction(this, event)" class="task grabLinks"
				data-menu="context-menu"
				style="font-weight: bold; color: #afa !important; cursor: grab; background-color: #0000;  font-size: 115%; min-width: 335px; max-width: 800px;"></a>
			<i class="las la-paperclip" style="color: #DDD;" title="Copy link to clipboard"
				onclick="copyFunction(document.getElementById('reshare'), event);"
				onmouseover="this.style.cursor='pointer'"></i>
			<span title="Save and ask to reload the current page on next site visit" style='font-size:92%;'
				onclick="saveRoom(this);" onmouseover="this.style.cursor='pointer'">💾</span>
		</div>
		<div id="head4" style="display: inline-block;" class="hidden">
			<span style="font-size: 68%; color: white;">
				<span data-translate="you-are-in-the-control-center">Control center for room:</span>

				<div id="dirroomid" style="font-size: 140%; color: #99c; display: inline-block;"></div>
				<span id="saveRoom" onclick="saveRoom(this)" style='cursor:pointer;margin-left:10px;'
					title="Will remember the room, prompting you the next time you visit if you wish to load this director's room again">💾</span>
				<span id="togglePreviewMode" onclick="switchModes()" style='cursor:pointer;margin-left:2px;'
					title="Toggle between the director control-room view and a scene preview-mode.">🪟</span>
			</span>
		</div>

	</div>
	<div id="controlButtons" class="hidden">
		<div class="controlPositioning">
			<div id="obsState" class="hidden">ACTIVE</div>
			<div id="chatModule" class="hidden">
				<a target="popup" id="popOutChat" onclick="createPopoutChat();"><i
						class="las la-external-link-alt"></i></a>
				<div id="chatBody">
					<div class="inMessage" id="welcomeMsg" data-translate='welcome-to-vdo-ninja-chat'>
						Welcome to the chat! You can send text messages directly to connected peers from here.
					</div>
				</div>
				<input type="text" id="chatInput" placeholder="Enter chat message to send here"
					onkeypress="EnterButtonChat(event)" />
				<button class="chatBarInputButton" onclick="sendChatMessage()" data-translate='send-chat'>Send</button>
			</div>
		</div>
	</div>
	<div id="mainmenu" class="row" style="opacity: 0;">
		<div id="container-2" title="Remote Screenshare into OBS" onkeyup="enterPressedClick(event,this);"
			alt="Remote Screenshare into OBS" tabindex="4" role="button" aria-pressed="false"
			class="column columnfade pointer rounded card" style=" overflow-y: auto;">
			<h2 id="add_screen">
				<span data-translate="remote-screenshare-obs">Remote Screenshare into OBS</span>
			</h2>
			<div class="container-inner">
				<button class='gobutton' style="padding: 10px; font-size: 120%;animation: pulsate 2s ease-out infinite;"
					alt="clilck to select you screen to share" onclick="publishScreen()">
					<span data-translate="select-screen-to-share">SELECT SCREEN TO SHARE</span>
				</button>
				<center>
					<span id="videoSettings2" style="display: none;">
						<form id="webcamquality2">
							<input type="radio" id="fullhd2" name="resolution2" value="0" />
							<label for="fullhd">
								<span data-translate="max-resolution">1080p (hi-def)</span>
							</label> &nbsp;&nbsp;|&nbsp;&nbsp;

							<input type="radio" checked id="halfhd2" name="resolution2" value="1" />
							<label for="halfhd">
								<span data-translate="balanced">720p (balanced)</span>
							</label> &nbsp;&nbsp;|&nbsp;&nbsp;

							<input type="radio" id="nothd2" name="resolution2" value="2" />
							<label for="nothd">
								<span data-translate="smooth-cool">360p (smooth)</span>
							</label>
							<div id="webcamstats2"></div>
						</form>
					</span>
				</center>
				<div id="consentWarning2" class="startupWarning hidden">
					<i class="las la-exclamation-circle"></i>
					<p><span data-translate="privacy-disabled">Privacy warning: The director will be able to remotely
							change your camera, microphone, and URL while this page is open, if you continue.</span></p>
				</div>
				<div id="audioScreenShare1">
					<div class="title">
						<i class="las la-microphone-alt"></i>
						<span data-translate="audio-sources">Audio Sources</span>
					</div>
					<select id="audioSourceScreenshare" multiple alt="tip: Hold CTRL (command) to select Multiple"
						title="tip: Hold CTRL (command) to select Multiple" onchange="requestAudioStream();">
						<option value="screenshare" selected>
							Screen Share Audio (default)
						</option>
						<option value="microphones">
							Other Audio Sources
						</option>
					</select>
				</div>
				<br />
				<div id="headphonesDiv2">
					<div class="title">
						<i class="las la-headphones"></i>
						<span data-translate="select-output-source"> Audio Output Destination: <button
								onclick="playtone(true)" class="white"
								style="padding:3px 5px 2px 5px; margin:0; margin-left:15px; position: relative; "
								type="button">Test</button></span>
					</div>
					<select id="outputSourceScreenshare" onclick="requestOutputAudioStream();">
						<option value="default">
							Default Device
						</option>
					</select>
				</div>
				<br />
				
			</div>
			<div class="outer close">
				<div class="inner">
					<label class="labelclass">
						<span data-translate="back">Back</span>
					</label>
				</div>
			</div>
		</div>

	</div>
	<div id="hiddenElements"></div>
	<div id="overlayClockContainer" data-menu='context-menu-clock' data-initial="600" class="hidden"><span
			id="overlayClock"></span></div>
	<div id="overlayClockContainer2" data-menu='context-menu-clock' data-initial="600" class="hidden"><span
			id="overlayClock2"></span></div>
	<div id="overlayMsgs" onclick="this.innerHTML = '';" style="display:none"></div>
	<div id="stickyMsgs" class="hidden"></div>
	<div id="bigPlayButton" onclick="this.innerHTML = '';" style="display:none"></div>


	<div id="remoteOBSControl" class="customModelPopup" style="display:none;">
		<div class="promptModalInner">
			<span class='modalClose' onclick="toggleOBSControls();">×</span>
			<span></span>
			<h3 data-translate="remote-control-obs-menu">Remote Controller for OBS Studio</h3><br />
			<div id="obsControlHelp" class="hidden" style="margin: 10px 0;display:block">
				No remote controllable instances of OBS Studio were found
			</div>
			<div id="obsControlButtons" style="margin: 10px 0;display:block">
			</div>
			<div id="obsSceneNames" style="margin: 10px 0;display:block">
			</div>
			<div id="obsRemotePassword" class="hidden" style="margin: 10px 0;display:block;">
				<span style="font-size:117%"><i class="las la-key" style="margin: 10px;"></i>Remote OBS passcode:</span>
				<input style="margin:0 10px;display:inline-block;padding: 8px 10px 6px 10px;"
					placeholder="Enter the remote OBS password here" />
			</div>
			<small style="margin: 20px 0 0 0;display:block;">
				See the <a href="https://docs.vdo.ninja/advanced-settings/upcoming-parameters/and-obs"
					style="color:#314350; cursor:pointer;" target="_blank">documentation</a> for help on using the
				remote OBS controller
			</small>
			<div id="debugRemoteOBSControl" class="hidden">
			</div>
		</div>
	</div>


	<div id="gridlayout"></div>
	<audio id="testtone" style="display:none;" preload="none">
		<source src="/media/tone.mp3" type="audio/mpeg">
		<source src="/media/tone.ogg" type="audio/ogg">
	</audio>
	<div class="gone">
		<!-- This image is used when dragging elements -->
		<img src="/media/favicon-32x32.png" id="dragImage" loading="lazy" />
	</div>

	<span class="hidden" id="hangupTemplate">
		<span style='font-size:500%;text-align:center;margin:auto;'>👋<br><button onClick='parent.location.reload();'
				title="Reload the page" data-translate="reload-page">Refresh</button></span>
	</span>
	<span class="hidden" id="hangupTemplateMobileFullscreen">
		<span style='font-size:500%;text-align:center;margin:auto;'>👋<br><button onClick='parent.location.reload();'
				title="Reload the page" data-translate="reload-page">Refresh</button></span>
	</span>

	<script>

		if (window.location.hostname.indexOf("www.obs.ninja") == 0) {
			window.location = window.location.href.replace("www.obs.ninja", "obs.ninja"); // the session.salt is domain specific; let's consolidate www as a result.
		} else if (window.location.hostname.indexOf("www.vdo.ninja") == 0) {
			window.location = window.location.href.replace("www.vdo.ninja", "vdo.ninja"); // the session.salt is domain specific; let's consolidate www as a result.
		} else if (("isSecureContext" in window) && (window.isSecureContext === false)) {
			console.error("This site must be run in a secure context; please ensure all links, iframes, and parent windows are using SSL");
		}


		var session = WebRTC.Media; // session is a required global variable if configuring manually. Run before loading main.js but after webrtc.js.
		session.version = "23.3b";
		session.streamID = session.generateStreamID(); // randomly generates a streamID for this session. You can set your own programmatically if needed

		session.defaultPassword = "someEncryptionKey123"; // Change this password if self-deploying for added security/privacy
		// session.salt = location.hostname; // used only if password is not == False. You can change to "session.salt = location.hostname+location.pathname;" for greater deployment isolation

		session.stunServers = [{ urls: ["stun:stun.l.google.com:19302", "stun:stun.cloudflare.com:3478"] }]; // google + cloudflare stun servers. default

	</script>
	<script type="text/javascript" crossorigin="anonymous" id="lib-js" src="/lib.js?ver=788"></script>
	<!-- 
		// If you wish to change branding, blank offers a good clean start.
		<script type="text/javascript" id="main-js" src="/main.js" data-translation="blank"></script>
		-->
	<script type="text/javascript" crossorigin="anonymous" id="main-js" src="/main.js?ver=617"></script>
</body>

</html>